.application-background {
  -fx-background-color: #FEF0F0;
}

.primary-background {
  -fx-background-color: #EB4034;
}

.secondary-background {
  -fx-background-color: #F87171;
  -fx-background-radius: 10px;
  -fx-text-fill: white;
}

.primary-button {
  -fx-background-color: #eb4034;
  -fx-background-radius: 10px;
  -fx-text-fill: white;
  -fx-cursor: hand;
}

.primary-button:hover {
  -fx-background-color: #F87171;
}

.primary-button:pressed {
  -fx-background-color: #DC2626;
}

.secondary-button {
  -fx-background-color: #F87171;
  -fx-background-radius: 10px;
  -fx-text-fill: white;
  -fx-cursor: hand;
}

.secondary-button:hover {
  -fx-background-color: #FCA5A5;
}

.secondary-button:pressed {
  -fx-background-color: #DC2626;
}

.secondary-button:focused {
  -fx-border-color: skyblue;
  -fx-border-width: 2px;
  -fx-border-radius: 10px;
}

.table-view {
  -fx-background-color: #FEF0F0;
}

.table-view .column-header-background {
  -fx-background-color: #F87171;
  -fx-text-fill: white;
}

.table-view .column-header {
  -fx-background-color: transparent;
  -fx-text-fill: white;
}

.table-view .column-header .label {
  -fx-text-fill: white;
}

.table-view .table-cell{
  -fx-border-color: transparent;
  -fx-padding: 2 0 2 10px;
}
.table-row-cell:hover {
  -fx-background-color: #F87171;
  -fx-text-background-color: #DC2626;
}

.table-row-cell:odd{
  -fx-background-color: #f3dddd;
  -fx-background-insets: 0, 0 0 1 0;
  -fx-padding: 0.0em;
}
.table-row-cell:even{
  -fx-background-color: #faeeed;
  -fx-background-insets: 0, 0 0 1 0;
  -fx-padding: 0.0em;
}

.table-row-cell:selected {
  -fx-background-color: #f68585;
  -fx-text-background-color: black;
}