.primary-button {
  -fx-background-color: #eb4034;
  -fx-background-radius: 10px;
  -fx-text-fill: white;
}

.primary-button:hover {
  -fx-background-color: #F87171;
}

.secondary-button {
  -fx-background-color: #F87171;
  -fx-background-radius: 10px;
  -fx-text-fill: white;
}

.primary-background {
  -fx-background-color: #EB4034;
}

.application-background {
  -fx-background-color: #FEE2E2
}