.primary-button {
  -fx-background-color: #eb4034;
  -fx-background-radius: 10px;
  -fx-text-fill: white;
}

.primary-button:hover {
  -fx-background-color: #F87171;
}

.primary-button:pressed {
  -fx-background-color: #DC2626;
}

.secondary-button {
  -fx-background-color: #F87171;
  -fx-background-radius: 10px;
  -fx-text-fill: white;
}

.secondary-button:hover {
  -fx-background-color: #FCA5A5;
}

.secondary-button:pressed {
  -fx-background-color: #DC2626;
}

.primary-background {
  -fx-background-color: #EB4034;
}

.application-background {
  -fx-background-color: #FEF0F0
}