.custom-cluster-icon {
    display: relative;
}

.custom-cluster-icon span {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 25px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;

    color: #fff;
  text-shadow:
    3px 3px 2px #000,
    -3px 3px 2px #000,
    -3px -3px 0 #000,
    3px -3px 0 #000;
}
